.search-div {
	position: absolute;
	top: 30%;
	right: 71%;
	bottom: 34%;
	left: 2%;
	background-color: black;
	color: white;
	font-size: 20px;
	opacity: 0.95;
}

img.star {
	position: absolute;
}

.guest_ratings {
	position: absolute;
	top: 15%;
	left: 80%;
	font-size: 18px;
}

.companies-div {
	position: absolute;
	top: 30%;
	right: 2%;
	bottom: 2%;
	left: 30%;
	background-color: black;
	overflow-y: scroll;
	color: white;
	font-size: 20px;
	opacity: 0.95;
}

img.show_on_map {
	position: absolute;
	top: 52%;
	left: 22%;
}

div.show_on_map {
	position: absolute;
	top: 54%;
	left: 24%;
	font-size: 15px;
	color: #42bcf4;
}

div img {
	position: absolute;
	top: 3%;
	left: 2%;
}

div h3 {
	position: absolute;
	top: -3%;
	left: 22%;
}

div p {
	position: absolute;
	top: 23%;
	left: 22%
}

.company-div {
	position: absolute;
	top: 3%;
	left: 3%;
	bottom: 60%;
	right: 3%;
	border-bottom: solid gray 1px;
}

.totalPrice
{
	position: absolute;
	top: 20%;
	left: 86%;
	font-size: 37px;
	color: yellow;
}

/****************************** Buttons ***********************************/
.show_details_btn {
	position: absolute;
	top: 77%;
	left: 84%;
}

.show_details_btn {
	background: #339DFF;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border-radius: 50px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 13%;
	height: 20%;
	text-align: center;
}

#show_details_btn:hover {
	background: #fff;
	color: #339DFF;
	box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

/************ slideshow *****************/

/* Slideshow container */
.slideshow-container {
	box-sizing: border-box;
	position: absolute;
	top: 75%;
	bottom: 5%;
	left: 45%;
	right: 20%;
}

/* Hide the images by default */
.mySlides {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px white;
}

.mySlides p{
	position: absolute;
	font-size: 16px;
	left: 15%;
	top: -20%;
	/*border: solid 1px white;*/
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 1px 0 0 1px;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}
}