body {
	background-image: url(../images/hotelAdminHomepage.jpeg);
}

.tab {
	overflow: hidden;
	margin-top: 5%;
	border: 1px solid #ccc;
	background-color: #ccc;
}

.transbox3 {
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	background-color: white;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	text-align: center;
	font-size: 22px;
}

.tab button {
	background-color: black;
	color: white;
	border: 2px solid #555555;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.tab button:hover {
	background-color: white;
	color: black;
}

div.transbox {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	background-color: white;
	padding: 6px 12px;
	border: 1px solid black;
	border-top: none;
	opacity: 0.6;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	text-align: center;
	font-size: 22px;
	display: none;
}

.transbox2 {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	background-color: white;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	text-align: center;
	font-size: 22px;
}
/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	background: white;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	font-size: 19px;
}

#hotel_info_table {
	/*border-bottom: 1px solid black;
    border-top: 1px solid black;*/
	border-collapse: collapse;
}

.hotelsTable{
	border-collapse: collapse;
	width: 80%;
}

.hotelsTable th, #hotelsTable td {
	text-align: left;
	padding: 8px;
}

.hotelsTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

.hotelsTable tr:hover {
	background-color: #ddd;
}

.hotelsTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4D4D4D;
	color: white;
}

.select {

	max-height: 70px;
	border: solid 1px black;
	overflow-y: scroll;
	overflow-x: hidden;
	color: black;
	font-size: 15px;
}