body
{
	/*background-color: gray !important;*/

}


.vehsDiv
{
  position: absolute;
  top: 30%;
  right: 2%;
  bottom: 2%;
  left: 30%;
  background-color: black;
  overflow-y: scroll;
  color: white;
  font-size: 20px;
  opacity: 0.95;
}


div img
{
	position: absolute;
	top: 3%;
	left: 2%;
}
div h3
{
	position: absolute;
	top: -3%;
	left: 22%;
}
div p
{
	position: absolute;
	top: 23%;
	left: 22%
}

.vehDiv
{	
	position: absolute;
	top: 3%;
	left: 3%; 
	bottom: 60%;
	right: 3%;
	border-bottom: solid gray 1px;	
}

.reservationBtn
{
	position: absolute;
	top: 77%;
	left: 84%;
}

.reservationBtn {
  background: #339DFF;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 13%;
  height: 20%;
  text-align: center;
}

.reservationBtn:hover {
  background: #fff;
  color: #339DFF;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}